body{
    background-color: bisque;
}

#message{
    font-size: 16px;
    text-align:left;
}

#container{
    height: 540px;
    width: 540px;
    background-color: goldenrod;
}

.game-board{
    border: 5px solid black;
    height: 150px;
    width: 150px;
    display: inline-block;
    cursor: pointer;
    margin: 8px;
    text-align: center;  
}

p {
text-align: center;
    font-size: 80px;
}